// |--------------------------------------------------------------------------
// | Banner
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .banner
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$banner-text-color-dark: $text-color-dark;
$banner-text-color-light: #fff;

// Responsive
$xs-banner-large-min-height: 350px;
$sm-banner-large-min-height: 600px;
$md-banner-large-min-height: 800px;
$lg-banner-large-min-height: 1000px;

$xs-banner-large-pull-up-content-size: 100px;
$sm-banner-large-pull-up-content-size: 200px;
$md-banner-large-pull-up-content-size: 300px;
$lg-banner-large-pull-up-content-size: 350px;

$xs-banner-small-min-height: 200px;
$sm-banner-small-min-height: 250px;
$md-banner-small-min-height: 300px;
$lg-banner-small-min-height: 350px;

$xs-banner-small-pull-up-content-size: 50px;
$sm-banner-small-pull-up-content-size: 100px;
$md-banner-small-pull-up-content-size: 120px;
$lg-banner-small-pull-up-content-size: 130px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin banner-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.banner {
  display: flex;

  flex-grow: 1;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__inner {
  display: flex;

  flex-grow: 1;
  align-items: center;
}

.banner__heading {
  text-align: center;
}

.banner__heading__title {
  font-weight: $headings-font-weight-bold;

  color: $banner-text-color-dark;

  .banner--text-color-dark & {
    color: $banner-text-color-dark;
  }

  .banner--text-color-light & {
    color: $banner-text-color-light;
  }
}

.banner__body {
  text-align: center;

  color: $banner-text-color-dark;

  .banner--text-color-dark & {
    color: $banner-text-color-dark;
  }

  .banner--text-color-light & {
    color: $banner-text-color-light;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.banner-pull-content-up {

  .banner--small {
    padding-bottom: $xs-banner-small-pull-up-content-size;

    + .page-content {
      margin-top: 0 - $xs-banner-small-pull-up-content-size;
    }
  }

  .banner--large {
    padding-bottom: $xs-banner-large-pull-up-content-size;

    + .page-content {
      margin-top: 0 - $xs-banner-large-pull-up-content-size;
    }
  }
}

.banner--small {
  min-height: $xs-banner-small-min-height;
}

.banner--large {
  margin-top: 0 - $xs-flexy-header-static-row-height;

  min-height: $xs-banner-large-min-height;
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .banner-pull-content-up {

    .banner--small {
      padding-bottom: $md-banner-small-pull-up-content-size;

      + .page-content {
        margin-top: 0 - $md-banner-small-pull-up-content-size;
      }
    }

    .banner--large {
      padding-bottom: $sm-banner-large-pull-up-content-size;

      + .page-content {
        margin-top: 0 - $sm-banner-large-pull-up-content-size;
      }
    }
  }

  .banner--small {
    min-height: $sm-banner-small-min-height;
  }

  .banner--large {
    margin-top: 0 - $sm-flexy-header-static-row-height;

    min-height: $sm-banner-large-min-height;
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {

  .banner-pull-content-up {

    .banner--small {
      padding-bottom: $md-banner-small-pull-up-content-size;

      + .page-content {
        margin-top: 0 - $md-banner-small-pull-up-content-size;
      }
    }

    .banner--large {
      padding-bottom: $md-banner-large-pull-up-content-size;

      + .page-content {
        margin-top: 0 - $md-banner-large-pull-up-content-size;
      }
    }
  }

  .banner--small {
    min-height: $md-banner-small-min-height;
  }

  .banner--large {
    margin-top: 0 - $md-flexy-header-static-row-height;

    min-height: $md-banner-large-min-height;
  }
}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .banner-pull-content-up {

    .banner--small {
      padding-bottom: $lg-banner-small-pull-up-content-size;

      + .page-content {
        margin-top: 0 - $lg-banner-small-pull-up-content-size;
      }
    }

    .banner--large {
      padding-bottom: $lg-banner-large-pull-up-content-size;

      + .page-content {
        margin-top: 0 - $lg-banner-large-pull-up-content-size;
      }
    }
  }

  .banner--small {
    min-height: $lg-banner-small-min-height;
  }

  .banner--large {
    margin-top: 0 - $lg-flexy-header-static-row-height;

    min-height: $lg-banner-large-min-height;
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}