{% set classes = [
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
  'clearfix',
] %}

<a href="{{ url }}"
   class="element-wrapper-link entity-list-advanced entity-list-advanced--blog-post">

  <!-- Begin - heading -->
  <div class="entity-list-advanced__heading">
    <h2
      class="entity-list-advanced__heading__title heading-h3">{{ label }}</h2>
  </div>
  <!-- End - heading -->

  <!-- Begin - body -->
  <div class="entity-list-advanced__body">

    {# Begin - short description #}
    {{ content.field_short_description }}
    {# End - short description #}

  </div>
  <!-- End - body -->

</a>
